body {
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMDHL2fFNmOvG9Nzpdtq9lEAHu5QcZee_a8QNIbB8u7w&s=10");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Times New Roman";
}

h1 {
    color: yellow;
}

h2 {
    color: white;
}

p {
    color: white;
}
